{% extends 'base.html.twig' %}

{% block title %}Editeur index{% endblock %}

{% block body %}
    <h1><i class="fa fa-pencil"> Liste de editeurs</i></h1>
<p></p>
    <table class="table" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom editeur</th>
                <th>Pays</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for editeur in editeurs %}
            <tr>
                <td>{{ editeur.id }}</td>
                <td>{{ editeur.nomediteur }}</td>
                <td>{{ editeur.pays }}</td>
                <td>{{ editeur.adresse }}</td>
                <td>{{ editeur.telephone }}</td>
                <td>
                    <a href="{{ path('editeur_show', {'id': editeur.id}) }}"><span class="btn btn-default"><i class="fa fa-eye"></i></span></a>
                    {% if is_granted('ROLE_EDITOR') %} <a href="{{ path('editeur_edit', {'id': editeur.id}) }}"><span class="btn btn-success"><i class="fa fa-pencil"></i></span></a>
                    <a href="{{ path('editeur_delete', {'id': editeur.id}) }}"><span class="btn btn-danger"><i class="fa fa-trash-o"></i></span></a>
                    {% endif %}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_EDITOR') %}
    <a href="{{ path('editeur_new') }}"><span class="btn btn-primary"><i class="fa fa-plus"></i> &nbsp; Nouveau</span></a>
    {% endif %}
{% endblock %}
