{% extends 'base.html.twig' %}

{% block title %}Editeur{% endblock %}

{% block body %}


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ editeur.id }}</td>
            </tr>
            <tr>
                <th>Nomediteur</th>
                <td>{{ editeur.nomediteur }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ editeur.pays }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ editeur.adresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ editeur.telephone }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('editeur_index') }}"><span class="btn btn-primary"><i class="fa fa-backward"></i>&nbsp;Retour</span></a>
    {% if is_granted('ROLE_EDITOR') %}
    <a href="{{ path('editeur_edit', {'id': editeur.id}) }}"><span class="btn btn-success"><i class="fa fa-pencil"></i>&nbsp;Editer</span> </a>

    {{ include('editeur/_delete_form.html.twig') }}{% endif %}
{% endblock %}
